/* Universal Selector */
*{
    font-family: Arial;
}

/* Element Selector */
button{
    background-color: green;
    color: white;
}

/* Class Selector */
.heading{
    color: red;
}

/* ID Selector */
#box{
    background-color: blue;
    color: white;
    width: 250px;
    padding: 20px;
}

/* Body Background */
body{
    background-color: lightyellow;
}