* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f1115;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    width: 95%;
    margin: 30px auto;
}

.card {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #0f0f0f;
    border-radius: 8px;
}

.image {
    position: relative;
}

.image img {
    width: 250px;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
}

.image span {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background: black;
    padding: 3px 5px;
    border-radius: 4px;
}

.text h2 {
    font-size: 22px;
    margin: 10px 0;
}

.text p {
    color: #aaa;
    font-size: 16px;
}